*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #eceef1;
}

.header{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.forget-password{
  padding: 10px;
}

.forget-password h5{
  color:#505050;
  font-size: 12px;
}

.forget-password span a{
  font-size: 12px;
  text-decoration: none;
}

.sign-in-button{
  padding: 10px;
  margin-right: 15px;
}

.sign-in-button button{
  color: white;
  background-color: #0077C5;
  border: solid 1px #4c4c4c;
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 14px;   
} 

.form-container{
  max-width: 380px;
  margin: auto;
  padding-top: 2.5%;    
}

.form-header-text{
  background-color: white;
  text-align: center; 
}

.form-header-text h1{
  font-size: 24px;
  font-family:AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c;
  padding-top: 10%;
  font-weight: normal;
}

.form-header-text h4{
  font-size: 14px;
  font-family:AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c;
  padding-top: 5%;
  font-weight: normal;
}

.form-header-text a{
  font-family:AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 12px;
}


.main-form{
  background-color: white;
}

.main-form .input-fields label{
  font-family:AvenirNext, Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #404040;
  font-size: 14px;
}